.wave{
  width: 60px;
  height: 100%;
  background-color: rgb(105, 105, 105);
  position: absolute;
  top: 0;
  animation: wave .8s ease-in-out;
}
@keyframes wave{
  0% {
    transform: scaleX(1);
    opacity: .4;
  }
  100% {
    transform: scaleX(17);
    opacity: 0;
  }
}